<!doctype html>
<html>
<head>
    <title></title>
</head>
<body>
    <form action="/madlib">
        Give us a name:
        <input type="text" name="person"><br>
        Enter a color:
        <input type="text" name="color"><br>
        Select an adjective:
        <select name="adj">
            <option value="hifalutin">hifalutin</option>
            <option value="loquacious">loquacious</option>
            <option value="belligerent">belligerent</option>
            <option value="nefarious">nefarious</option>
            <option value="voluptuous">voluptuous</option>
        </select><br>
        Pick a noun:
        <input type="radio" name="noun" value="elephants">elephant
        <input type="radio" name="noun" value="sticks">stick
        <input type="radio" name="noun" value="gum">gum
        <input type="radio" name="noun" value="hairballs">hairball
        <br>
        Pick an entourage!
        <input type="checkbox" name="friends" value="George the Giraffe">George
        <input type="checkbox" name="friends" value="Alberta the Albatross">Alberta
        <input type="checkbox" name="friends" value="Lucinda the Lizard">Lucinda
        <input type="checkbox" name="friends" value="Garrett the Ghost">Garrett 
        <br>

        <input type="submit" value="submit">

    </form>
</body>
</html>