<!doctype html>
<html>
<head>
    <title>Madlib</title>
    <link href="https://fonts.googleapis.com/css?family=UnifrakturCook:700" rel="stylesheet">
    <link rel= "stylesheet" type="text/css" href="/static/madlibs.css" />
</head>
<body>
<h1 class="header1"> Once upon a time... </h1>
<p> There was a  rather {{ adj }} young adventurer named {{ person }}. 
{{ person }} was rarely caught without their merry band of friends {{ friends }}, and {{ last_friend }}. Together, they loved to rummage the forest for {{ color }} {{ noun }}. They had loads of fun every day of the week.</p>
</body>
</html>




    